.skills{
    background-color: white;
    color: #2b2b2c;
    padding: 10px; 
    margin: 20px;
}

.skills .contenido-section{
    margin: auto;
}

.skills .fila{
    display: flex;
    flex-direction: column;
}

.skills .fila .col{
    width: 100%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold; 
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #cfd3d4;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #2b2b2c;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* % HABILIDADES TECNICAS */

/*HTML & CSS*/
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;   
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 85%;}
}
/*JavaScript*/
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;   
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 74%;}
}
/*TypeScript*/
.skills .skill .typescript{
    width: 0%;
    animation: 2s typescript forwards;   
}
@keyframes typescript{
    0%{width: 0%;}
    100%{width: 70%;}
}
/*Reac*/
.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;   
}
@keyframes react{
    0%{width: 0%;}
    100%{width: 82%;}
}
/*Nest.js*/
.skills .skill .nestjs{
    width: 0%;
    animation: 2s nestjs forwards;   
}
@keyframes nestjs{
    0%{width: 0%;}
    100%{width: 71%;}
}

/* % HABILIDADES PERSONALES */

/*Comunicacion*/
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;   
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 100%;}
}
/*Trabajo en Equipo*/
.skills .skill .trabajo-en-equipo{
    width: 0%;
    animation: 2s trabado-en-equipo forwards;   
}
@keyframes trabado-en-equipo{
    0%{width: 0%;}
    100%{width: 100%;}
}
/*Creatividad*/
.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;   
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 100%;}
}
/*Dedicacion*/
.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;   
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 100%;}
}
/*Responsabilidad*/
.skills .skill .responsabilidad{
    width: 0%;
    animation: 2s responsabilidad forwards;   
}
@keyframes responsabilidad{
    0%{width: 0%;}
    100%{width: 100%;}
}